code {
    background-color: #00000000 !important;
}

@media (min-width: 1200px) {
    .container {
        width: 100% !important;
    }
}

.text-show-content {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    border: 5px solid black;
    background: #ffffff6b;
}

.show-content {
    padding: 150px;
    border: 5px solid black;
    background: black;
}

.tab-contents {
    text-align: left;
    margin: auto;
    background: white;
    padding: 50px 340px;
}

.tab-selectors {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0px;
    padding: 20px 0px;
}

.tab-selectors li:nth-child(1) {
    background-image: url(../img/html.png);
}

.tab-selectors li:nth-child(2) {
    background-image: url(../img/css.png);
}

.tab-selectors li:nth-child(3) {
    background-image: url(../img/js.png);
}

.tab-selectors li {
    width: 70px;
    height: 70px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}


/*
Alternative colors:
#ac4fc6
#c6007e
#73a039
#4a773c
#f9e547
#bce194
#d3bba8
#e59bdc
#774212

.materials a {
    color: red;
}

.collapse.in {
    background-image: linear-gradient( 334deg, #f70000, #97000094) !important;
}
.panel-title {
    background: #ff4c4c;
    color: #ffffff !important;
}
.panel {
    background: linear-gradient( 340deg, #000000, #ffffff);
}
.panel>.panel-heading {
    background-color: black !important;
    border-color: black !important;
}
.tooltip-parent {
    background: linear-gradient( 343deg, #b70707, #ca000075);
}
button.copyableInputButton {
    color: #ff0000 !important;
    border: 4px solid #ff0000 !important;
}
::-webkit-scrollbar-thumb:hover {
    background: #cc1717;
}

::-webkit-scrollbar-corner {
    background: #b40707;
}

.tab-contents>div {
    border: 2px solid #d80000;
}
button.copyableInputButton:hover {
    color: #20bf6b !important;
    border-color: #20bf6b !important;
}
*/

.materials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.materials a {
    display: contents;
    color: #caa2dd;
}

.materials p {
    font-size: 20px;
    font-family: emoji;
}

.collapse.in {
    background-image: linear-gradient( 334deg, #9bcbeb, #9cdbd9) !important;
    padding: 5px;
}

.panel-title {
    background: #ffffff;
    display: inline;
    padding: 5px 25px;
    border-radius: 50px;
    color: #485cc7 !important;
}

.panel {
    border: 0px !important;
    background: linear-gradient( 340deg, #774212, #d3bba8);
}

.panel>.panel-heading {
    background-color: #b8ccea !important;
    text-align: center;
    font-size: 20px;
}

.panel-body {
    margin: 0px 15px;
    padding: 0px !important;
    border-top: 0px solid #ddd !important;
}

.panel>.panel-body {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 35px;
}


/*
.collapse.in {
    background-image: linear-gradient( 334deg, #f70000, #97000094) !important;
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 10s infinite;
    background-color: currentColor;
    padding: 5px;
}

@supports (background-blend-mode: overlay) {
    .collapse.in {
        background-image: linear-gradient(45deg, white 10%, black 90%);
        background-blend-mode: overlay;
    }
}

@keyframes wheelHueColor {
    from,
    to {
        color: hsla(0, 100%, 50%, 0.5);
    }
    25% {
        color: hsla(0, 100%, 25%, 0.5);
    }
    50% {
        color: hsla(0, 100%, 0%, 0.5);
    }
    75% {
        color: hsla(0, 100%, 75%, 0.5);
    }
    100% {
        color: hsla(0, 100%, 50%, 0.5);
    }
}
*/

#accordion .panel>a {
    display: block;
    color: #000000;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    border: 5px solid black;
    background: #ffffff6b;
}

.glyphicon {
    font-size: 20px !important;
    text-align: left !important;
}

.tooltip-parent {
    background: linear-gradient( 343deg, #485cc7, #9bcbeb);
    border-radius: 130px;
    border-top-left-radius: 130px;
    border-top-right-radius: 0px;
    margin: 0 0 0 100px;
}

.tooltip-div {
    position: relative;
    display: inline-block;
    opacity: 1;
}

.tooltip-div .tooltiptext {
    display: table;
    visibility: hidden;
    width: 100%;
    background-color: #00cd77;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    opacity: 0;
    left: 0%;
    transition: opacity 0.3s;
}

button.copyableInputButton.show-tooltip-message .tooltiptext {
    visibility: visible;
    opacity: 0;
    -webkit-animation-name: Hide;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-name: Hide;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-out;
    -ms-animation-name: Hide;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-out;
}

.tab-contents>div {
    background-color: #000;
    color: white;
    border: 2px solid #caa2dd;
    border-radius: 15px;
    width: 100%;
    display: none;
}

button.copyableInputButton {
    color: #485cc7 !important;
    text-transform: uppercase;
    background: #000000;
    border: 4px solid #485cc7 !important;
    border-radius: 6px;
    padding: 0 10px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

button.copyableInputButton:hover {
    color: #c6007e !important;
    border-radius: 50px;
    border-color: #c6007e !important;
    transition: all 0.3s ease 0s;
}

button.copyableInputButton:active {
    background: #9bcbeb;
}

.tab-selectors>.active-tab-selector {
    border-radius: 50%;
    border: 2px dashed #000;
    -webkit-animation-name: Rotate-and-Scale;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Rotate-and-Scale;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: Rotate-and-Scale;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
    padding: 5px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.tab-content {
    display: inline-block;
}

.tab-contents>.tab-content-active {
    display: block;
}

xmp {
    overflow-y: auto;
    height: 550px;
    width: 100%;
    white-space: pre-line;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c6007e;
}

::-webkit-scrollbar-corner {
    background: #c6007e;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient( 343deg, #caa2dd, #c6007e);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .show-content {
        padding: 5px;
    }
    .tab-contents {
        background: transparent;
        padding: 0px;
    }
    .tooltip-parent {
        margin: 0 0 0 39%;
    }
}

@-webkit-keyframes Rotate-and-Scale {
    0% {
        transform: rotate( 0deg) scale(1);
    }
    25% {
        transform: rotate( 40deg) scale(1.3);
    }
    50% {
        transform: rotate( 0deg) scale(1);
    }
    75% {
        transform: rotate( -40deg) scale(1.3);
    }
    100% {
        transform: rotate( 0deg) scale(1);
    }
}

@-webkit-keyframes Hide {
    0% {
        opacity: 0;
        top: 0px;
    }
    30% {
        opacity: 1;
        top: -45px;
    }
    100% {
        opacity: 0;
        top: 0px;
    }
}
